@import 'null.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);



body {
    font-family: 'Montserrat';
    color:  #252B42;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
    background: #fafafa;
}
/*-------------------------------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
 

}

.container {
    padding: 0 15px;
    max-width:  1046px;
    margin: 0 auto;
    box-sizing: content-box;
}   
/*-------------------------------------------------------------------------------------------------------*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    
 }

.header__container { 
    min-height: 104px;
    display: flex;
    align-items: center;
    @media (max-width:479px) {
        min-height: 70px;
    }

}
.header__logo { 

    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.header__menu { 
    margin-left: 133px;
    @media (max-width:992px) {
        margin-left: 80px;
    }
    @media (max-width:767px) {
        margin-left: 40px;
    }
    @media (max-width:479px) {
        margin-left: 20px;
    }
}

.menu {
    padding: 5px 0;
 }
.menu__list { 
    flex-wrap: wrap;
    display: flex;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}
.menu__item { 
}

.menu__item:not(:last-child) {
    margin-right: 21px;
}
.menu__link { 
    font-weight: 600;
    color: #737373;
    line-height: calc(24 / 14 * 100%);
    @media (max-width:479px) {
        font-size: 18px;
    }
}

/*-------------------------------------------------------------------------------------------------------*/
.page {
    flex: 1 1 auto;
}
.page__main-block { }
.page__advantages { }
.page__practice { }
.page__whoweare { }
.page__clients { }
.page__getintouch { 
    
}
.page__contact { }


.page__services {
    position: relative;
    z-index: 3;
    margin-top: -111px;
 }

/*-------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------*/



.main-block { 
    position: relative;
}
.main-block__container { }

.main-block__body { 
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
    max-width: 400px;
    @media(max-width: 992px) {
        padding: 120px 0 191px 0;
    }
}


.main-block__body > *:not(:last-child) {
    margin-bottom: 35px;
}
.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: calc(80 / 58 *100%);
    letter-spacing: 0.2px; 
    @media(max-width: 489px) {
        font-size: 42px;
    }
   
 }
.main-block__text { 
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
    @media (max-width: 479px) {
        color: #444040
    }
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;

 }


.main-block__button { 
    padding: 10px 36px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    text-align: center;
    letter-spacing: 0.2px;;
    border-radius: 37px;
    margin: 10px 0;
    &:not(:last-child) {
        margin-right: 10px;
    }
    @media (max-width: 479px) {
        flex: 1 1 auto;
    }
}
.main-block__button_orange {
    background: #FF7B47;
    color: #fff;
}
.main-block__button_border { 
    background: none;
    color: #0D5C63;
    border: 1px solid #0D5C63;
}


.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media(max-width: 992px) {
        opacity: 0.5;
    }
}
@media(max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}





/*-------------------------------------------------------------------------------------------------------*/





.services { }
.services__container { }
.services__body { 
    
    @media (min-width: 670px) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px -30px;
    }
 }

.services__column {
    padding: 0 15px;
    flex: 0 1 33.333%;
    margin-bottom: 30px;
    @media (max-width: 992px) {
        flex: 0 1 50%;
    }
}
.services__column:last-child {
    @media (max-width: 992px) {
        flex: 1 1  100%;
    }
}
.services__item { 
    height: 100%;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px 40px 35px 40px;
    background: #ffffff;
    @media (max-width: 479px) {
        padding: 25px 30px;
    }

}
.item-service { 
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
}
.item-service__icon {}
.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;


 }
.item-service__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px ;
    color: #737373;
 }

 .item-service_green {
    background-color: #0D5C63;
    & .item-service__title {
        color: #ffffff;
    }
    & .item-service__text {
        color: #ffffff;
    }
 }


/*-------------------------------------------------------------------------------------------------------*/

.advantages {
    padding: 80px 0;
    @media (max-width:992px) {
        padding: 50px 0;
    }
    @media (max-width:767px) {
        padding: 30px 0;
    }
 }
.advantages__container { }
.advantages__header {
    margin-bottom: 50px;
    @media (max-width:767px) {
        margin-bottom: 25px;
    }
 }
.header-block { 
    text-align: center;
}
.header-block__title { 
    color: #252B42;
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media (max-width:992px) {
        font-size: 35px;
    }
    @media (max-width:767px) {
        font-size: 30px;
    }
}
.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #737373;

}
.advantages__body { 
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column {
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
    @media (max-width: 1060px) {
        flex: 0 1 50%;
    }
    @media (max-width: 560px) {
        flex: 0 1 100%;
    }
 }
.advantages__item { 
    background: #ffffff;
    padding: 30px 35px;
    text-align: center;
    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
    & > *:not(:last-child) {
        margin-bottom: 10px;
    }
}
.advantages__icon {
    height: 48px;
    display: flex;
    align-items: end;
    justify-content: center;
 }
.advantages__value {
    font-weight: 700;
    font-size: 40px;
    line-height:  142%;
 }
.advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #737373
 }


 /*-------------------------------------------------------------------------------------------------------*/


 .practice { 
    padding: 125px 0 80px 0;
    @media (max-width:1030px) {
        padding: 80px 0 80px 0;
    }
    @media (max-width:767px) {
        padding: 0 0 40px 0;
    }


}
 .section__container { }
 .practice__header {
    margin-bottom: 45px;
    @media (max-width:767px) {
        padding: 0 0 25px 0;
    }
  }

 .practice__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px -30px;
  }
 .practice__column {
    padding: 0 20px 30px;
    flex: 0 1 25%;
    @media (max-width:1050px) {
        flex: 0 1 50%;
    }
    @media (max-width:630px) {
        flex: 0 1 100%;
    }
  }
 .practice__item {


  }

.iten-practice__content {
    background: #ffffff;
    padding: 30px;
    flex: 1 1 auto;
  }
 .item-practice { 
    height: 100%;
    display: flex;
    flex-direction: column;
 }
 .item-practice__link {
    color: inherit;
    display: inline-block;
    &:not(:last-child) {
        margin-bottom: 15px;
    }

  }
 .item-practice__title {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
 }
 .item-practice__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
  }
 .item-practice__image { 
    display: block;
    padding-bottom: 60%;
 }




/*-------------------------------------------------------------------------------------------------------*/





.whoweare {
    padding: 80px 0 130px 0;
    background: #ffffff;
    @media (max-width:950px) {
        padding: 50px 0;
    }
 }
.whoweare__container { }
.whoweare__header {
    margin-bottom: 100px;
 }
.whoweare__body {
    display: flex;
    align-items: flex-start;
    @media (max-width:950px) {
        flex-direction: column-reverse;
        align-items: stretch;
    }

 }
.whoweare__video {
    flex:  0 0 57%;
    position: relative;
    padding-bottom: 42.25%;
    & iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;   
        object-fit: cover;
    }
    &:not(:last-child) {
        margin-top: 50px;
    }
    @media (max-width:950px) {
        padding-bottom: 56.25%;
    }

 }
.whoweare__content { 
    padding: 20px 0  0 121px;
    flex: 1 1 auto;
    @media (max-width:1080px) {
        padding: 0 0 0 50px;
    }
    @media (max-width:992px) {
        padding: 0 0 0 0 ;
    }



}
.whoweare__title {
    color: #252B42;
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media (max-width:950px) {
        font-size: 24px;
    }

 }
.whoweare__text { 
    color: #737373;
    font-weight: 500;
    font-size: 13px;
    line-height: 143%;
    &:not(:last-child) {
        margin-bottom: 50px;
    }
}
.whoweare__items {
    margin-top: 50px;
}
.whoweare__item { }
.item-whoweare { 
    display: flex;
    &:not(:last-child) {
        margin-bottom: 30px;
    }

}
.item-whoweare__icon {
    flex: 0 0 32px;
 }
.item-whoweare__body {
    flex: 1 1 auto;
    padding-left: 20px;
    &:not(:last-child) {
        padding-bottom:  5px;
    }
 }
.item-whoweare__title {
    color: #252B42;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    &:not(:last-child) {
        margin-bottom: 5px;
    }
 }
.item-whoweare__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 171%;
    color: #737373;
 }


 /*-------------------------------------------------------------------------------------------------------*/



.clients { 
    padding: 50px 0;
    @media (max-width: 767px) {
        padding: 30px 0;
    }
}

.clients__container { }

.clients__items { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.clients__item {
    padding: 8px 15px;
    flex: 0 1 calc(100% / 6);
    text-align: center;  
    min-width: 140px;
    & img {
        max-width: 100%;
    }  
 }


  /*-------------------------------------------------------------------------------------------------------*/



.subscribe { 
    position: relative;
    padding-bottom: 20px;
    &::before {
        content: '';
        position: absolute;
        background: #252b45;
        bottom: 0;
        width: 100%;
        height: 50%;
        z-index: -1;
        left: 0;
    }

}
.subscribe__container { }
.subscribe__body { 
    background: #17213C;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 2px ;
    padding: 30px 50px;
    justify-content: space-between;
    @media (max-width:1057px) {
        padding: 20px 30px;
    }
    @media (max-width: 1070px) {
        margin: 0 30px;
    }
    @media (max-width: 870px) {
        margin: 0 -15px;
        padding: 20px 25px;
    }
}
.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    @media (max-width:1000px) {
        font-size: 20px;
    }
    @media (min-width:810px) {
        max-width: 266px;
    }
 }
.subscribe_form {
    flex: 0 1 50%;
    display: flex;
    margin: 30px 0;
    @media (max-width:860px) {
        flex: 0 1 100%
    }
 }
.subscribe__input {
    width: 100%;
    padding: 15px 0 15px 20px;
    flex: 1 1 auto;
    font-weight: 600;
    background-color: #f9f9f9f9;
    font-size: 20px;
    color: #797979;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    @media (max-width:842px) {
        font-weight: 500;
        font-size: 24px;
    }
    &:focus {
        color: black;
    }
    @media (max-width:400px) {
        font-size: 19px;
    }
    @media (max-width:360px) {
        font-size: 12px;
    }


 }
.subscribe__button {
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border: 1px solid #ffffff;
    background: #FF7B47;
 }


   /*-------------------------------------------------------------------------------------------------------*/


.getintouch { 
    padding: 80px 0 135px 0;
    @media (max-width:992px) {
        padding: 50px 0 50px 0;
    }
}

.getintouch__container { }

.getintouch__header { 
    margin-bottom: 80px;

    @media (max-width:992px) {
        margin-bottom: 50px;
    }
    @media (max-width:767px) {
        margin-bottom: 30px;
    }
}

.getintouch__items {
    margin: 0px -15px;

    @media (min-width:992px) {
        margin: 0;
        display: flex;
        align-items: center;
    }

 }
.getintouch__item {
    padding: 50px 40px;
    flex: 0 1 33.333%;
    background: #ffffff;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    align-items: center;
    & > *:not(:last-child) {
        margin-bottom: 15px;
    }
    &:nth-child(2) {
        background: #252B42;
        color: #ffffff;
        padding: 80px 15px;
        
        & > * {
            color: #ffffff;
        }
        & .item-getintouch__button {
            border: 1px solid #ffffff;
            border-radius: 5px;
            transition: .5s;
            &:hover {
                background: #ffffff;
                color: black;
            }
        }
        
    }

 }
.item-getintouch { }
.item-getintouch__icon { }
.item-getintouch__mails { 
    line-height: calc(24 / 14 * 100%);
}
.item-getintouch__mail { 
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: inherit
}
.item-getintouch__label { 
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
}
.item-getintouch__button { 
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF7B47;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FF7B47;
    border-radius: 5px;;
    transition: .5s;
    &:hover {
        background: #FF7B47;;
        color: #ffffff;
    }
}

  /*-------------------------------------------------------------------------------------------------------*/


.contact { 
    background: #fff;
    padding:40px 0;
    margin-top: 40px;
}
.contact__container { }
.contact__body {

    @media (min-width:767px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

 }
.contact__content {
    padding-right: 20px;
 }
.contact__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
 }
.contact__text { 
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373;
}
.contact__button {
    margin-top: 20px;
    padding: 15px 40px;
    display: flex;
    transition: background-color .3s ease 0s;
    flex-direction: column;
    align-items: center;
    background-color: #FF7B47;
    border-radius: 5px;
    font-size: 14px;
    line-height: 200%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    &:hover {
        background-color: #aa5330;
    }

 }
 /*------------------------------------------------------------*/

 .footer {

  }
.footer__top {
    padding: 20px 0;
    background-color: #17213C;
    @media (max-width:1070px) {
        padding: 0px 0;
    }
 }

 .footer__column {
    flex: 0 1 20%;
    margin-top: 30px;
    color: #ffffff;
    padding: 0px 15px;
    min-width: 215px;
    @media (max-width:1070px) {
        flex: 0 1 25%
    }
    @media (max-width:649px) {
        flex: 0 1 50%;
    }
    @media (max-width: 431px) {
        flex: 0 1 100%;
        justify-self: center;
    }



 }
.footer__main { 
    

}

.footer__row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.footer__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer__menu { }
.menu-footer { }
.menu-footer__list { 
    color: #ffffff;
}
.menu-footer__item { 
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}
.menu-footer__link { 
    color: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    &:hover {
        text-decoration: underline;
    }
}
.footer__contacts { }
.contacts-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 17.5px;
 }
.contacts-footer__item { 
    padding-left: 34px;
    line-height: 142%;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.2px;
    &:hover {
        text-decoration: underline;
    }
    

color: #FFFFFF;
    color: inherit;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
.contacts-footer__item_phone {
    background: url('/5/img/footer/icons/01.svg') left no-repeat;
 }
.contacts-footer__item_map { 
    background: url('/5/img/footer/icons/02.svg') left no-repeat;
}
.contacts-footer__item_mail { 
    background: url('/5/img/footer/icons/03.svg') left no-repeat;
}
.footer__bottom {
    padding: 25px 0;
 }
.footer__container {
    @media (min-width:767px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
}
.footer__copy { 
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
.footer__social {
    @media (max-width:767px) {
        margin-top: 30px;
    }
 }
.social { }
.social__item  {
    &:not(:last-child) {
        margin-right: 20px;
    }

 }

